@import '../inc/vars';

.single-post {
    background-color: white;
    color: black;

    .header {
        background: #0000000d;
        border-bottom: 1px solid #0000001a;
        .menu-toggle::after,
        .menu-toggle::before,
        .menu-toggle small {
            background: #000;
        }
        nav ul li a {
            color: #00000099;
            &:hover {
                color: blue;
            }
        }
        .sub-menu {
            background-color: white;
        }
        @include tablet-md {
            nav {
                background-color: white;
            }
        }
        i {
            color: #000 !important;
        }
    }
    .header.sticky {
        background: #bcbaba;
    }
    .header .logo img {
        filter: brightness(0.3);
    }
}
.single-post main {
    .container {
        max-width: rem(1072);
    }
}
.single-block {
    padding-top: clamp(rem(120), vw(150), rem(150));

    &__top {
        display: flex;
        gap: rem(16);
        align-items: center;
        margin-bottom: rem(16);
        .post-category {
            padding: rem(7) rem(16);
            background: #ffb20026;
            border: 1px solid #ffb2004d;
            font-size: rem(12);
            text-transform: uppercase;
            border-radius: rem(6);
            color: #fbb200;
        }
        .post-date {
            font-size: rem(14);
            color: #828282;
        }
    }

    .post-title {
        font-size: clamp(rem(32), vw(56), rem(56));
        font-weight: 600;
        margin-bottom: clamp(rem(24), vw(64), rem(64));
    }

    .post-thumbnail {
        img {
            max-height: rem(500);
            object-fit: contain;
            margin: auto;
            border-radius: rem(16);
            width: fit-content;
            @include tablet-sm {
                max-height: rem(240);
                border-radius: rem(8);
            }
        }
    }

    &__box {
        margin-top: clamp(rem(24), vw(32), rem(32));
        margin-bottom: clamp(rem(70), vw(100), rem(100));
        display: flex;
        justify-content: space-between;
        align-items: end;

        &-meta {
            display: flex;
            gap: rem(60);
            .post-date,
            .post-author {
                color: #000000;
                font-size: rem(16);
                font-weight: 600;
            }
            span {
                display: block;
                color: #828282;
                font-size: rem(14);
                margin-bottom: rem(8);
                font-weight: 400;
            }
        }
        @include tablet-sm {
            flex-wrap: wrap;
            gap: rem(24);
        }
        .share-box,
        .social-share {
            display: flex;
            gap: rem(12);
        }

        .copy-link button {
            border: 1px solid #00000033;
            border-radius: rem(8);
            font-size: rem(14);
            outline: none;
            padding: rem(10) rem(16);
            color: #828282;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: rem(6);
        }
    }

    .post-content {
        background: #0000000d;
        border-radius: rem(16);
        padding: clamp(rem(15), vw(100), rem(100));
        @include tablet-sm {
            margin: 0 rem(-15);
            border-radius: 0;
        }
    }
    img {
        border-radius: rem(16);
        border: none !important;
        @include tablet-sm {
            border-radius: rem(8) !important;
        }
    }
    .gallery {
        margin: clamp(rem(24), vw(32), rem(32)) auto !important;
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        @include tablet-smm {
            flex-wrap: wrap;
        }
    }
}
.single-post .subscribe-block {
    padding-top: clamp(rem(50), vw(140), rem(140));

    &__box {
        border-radius: rem(16);
        background: #105391;
        color: #fff;
        border: 1px solid #ffffff33;
        padding: clamp(rem(26), vw(47), rem(47)) clamp(rem(20), vw(64), rem(64));
        .title {
            font-size: clamp(rem(20), vw(24), rem(24));
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(16);
    }

    &__form {
        max-width: rem(430);
        @include tablet-sm {
            width: 100%;
        }
        form > p {
            display: flex;
            gap: rem(12);
            @include tablet-sm {
                flex-direction: column;
                width: 100%;
                gap: rem(0);
            }
        }
        .btn {
            padding: rem(4) rem(24);
            @include tablet-sm {
                height: rem(50);
                width: 100%;
            }
        }
        input[type='email'] {
            margin-bottom: 0 !important;
            height: rem(67);
            background-color: transparent;
            border: 1px solid #ffffff1a;
            @include tablet-sm {
                height: rem(50);
            }
        }
    }
}

