.btn,
.woocommerce-button,
.checkout-button,
.woocommerce .button,
.wc-block-components-checkout-place-order-button {
    display: inline-flex !important;
    color: black !important;
    background: rgba(255, 178, 0, 1) !important;
    font-size: rem(16) !important;
    font-weight: 600 !important;
    padding: rem(16) rem(24) !important;
    transition: all 0.3s !important;
    border-radius: rem(10) !important;
    border: none !important;
    &::after {
        content: '';
        background-image: url('data:image/svg+xml,<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7.5L13 7.5M13 7.5L7 13.5M13 7.5L7 1.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(14);
        height: rem(14);
        margin: rem(3) 0 0 rem(10);
    }
    &:hover {
        opacity: 0.7;
    }
}

.btn-tr {
    display: inline-flex;
    color: white;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: rem(16);
    font-weight: 600;
    padding: rem(16) rem(24);
    transition: all 0.3s;
    border-radius: rem(10);
    &::after {
        content: '';
        background-image: url('data:image/svg+xml,<svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 0.66661V11.3333C0.499967 11.4519 0.531583 11.5684 0.591588 11.6707C0.651592 11.773 0.737811 11.8575 0.84135 11.9154C0.944888 11.9733 1.062 12.0025 1.18059 12C1.29918 11.9975 1.41497 11.9634 1.516 11.9013L10.1827 6.56794C10.2797 6.5083 10.3599 6.42477 10.4155 6.32534C10.4711 6.2259 10.5003 6.11387 10.5003 5.99994C10.5003 5.88602 10.4711 5.77399 10.4155 5.67455C10.3599 5.57512 10.2797 5.49159 10.1827 5.43194L1.516 0.0986104C1.41497 0.0364535 1.29918 0.00237861 1.18059 -9.87033e-05C1.062 -0.00257601 0.944888 0.026634 0.84135 0.0845176C0.737811 0.142401 0.651592 0.226862 0.591588 0.329186C0.531583 0.43151 0.499967 0.54799 0.5 0.66661Z" fill="white"/></svg>');
        background-size: contain;
        background-repeat: no-repeat;
        width: rem(14);
        height: rem(14);
        margin: rem(3) 0 0 rem(10);
    }
    &:hover {
        border: 1px solid rgba(255, 178, 0, 1);
    }
}
input[type='submit'] {
    width: fit-content;
}

